@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("../fonts/material-icons.woff2") format("woff2");
}

:root {
  --zIndex: 1000;
}

.image-viewer-component-inline {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 400px;
}

.image-viewer-component {
  opacity: 0;
}

.image-viewer-component-mask {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(55, 55, 55, 0.6);
  filter: alpha(opacity=50);
  z-index: 1000;
}

.image-viewer-component-btn {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.image-viewer-component-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.image-viewer-component-close {
  position: fixed;
  top: 0px;
  right: 0px;
  overflow: hidden;
  width: 36px;
  height: 36px;
  border-radius: 0 0 0 40px;
  cursor: pointer;
  z-index: var(--zIndex) + 10;
}

.image-viewer-component-close > i {
  position: relative;
  right: -12px;
}

.image-viewer-component-canvas {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  z-index: var(--zIndex) + 5;
}

.image-viewer-component-canvas > img {
  display: block;
  width: auto;
  height: auto;
  user-select: none;
}

.image-viewer-component-canvas > img.drag {
  cursor: move;
}

.image-viewer-component-footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  text-align: center;
  z-index: var(--zIndex) + 5;
  max-width: 100lvw;
  max-height: 100lvh;
}

.image-viewer-component-inline > .image-viewer-component-mask,
.image-viewer-component-inline > .image-viewer-component-close,
.image-viewer-component-inline > .image-viewer-component-canvas,
.image-viewer-component-inline > .image-viewer-component-footer {
  position: absolute;
}

.image-viewer-component-attribute {
  position: fixed;
  top: 0px;
  left: 0px;
  opacity: 90%;
  z-index: var(--zIndex) + 6;
}

.image-viewer-component-toolbar {
  overflow: hidden;
  height: 28px;
  margin-bottom: 6px !important;
  margin-top: 6px !important;
}

.image-viewer-component-toolbar li {
  display: inline-block;
  width: 28px;
  height: 28px;
  border-radius: 28px;
  margin-right: 8px;
  cursor: pointer;
  line-height: 28px;
}

.image-viewer-component-toolbar li:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

li.empty {
  background-color: transparent;
  cursor: default;
}

.image-viewer-component-navbar {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}

.image-viewer-component-list {
  height: 50px;
  padding: 1px;
  text-align: left;
}

.image-viewer-component-list > li {
  display: inline-block;
  width: 50px;
  height: 50px;
  cursor: pointer;
  overflow: hidden;
  margin-right: 1px;
  object-fit: cover;
}

.image-viewer-component-list > li > img {
  width: 50px;
  height: 50px;
  opacity: 0.5;
}

.image-viewer-component-list > li.active > img {
  opacity: 1;
}

.image-viewer-component-transition {
  transition: opacity 0.3s ease-out;
}

.image-viewer-component-image-transition {
  transition-property: width, height, margin, transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.image-viewer-component-list-transition {
  transition: margin 0.3s ease-out;
}

.image-viewer-component-icon {
  font-family: "Material Icons" !important;
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
}

.image-viewer-component-icon-zoomIn:before {
  content: "zoom_in";
}

.image-viewer-component-icon-zoomOut:before {
  content: "zoom_out";
}

.image-viewer-component-icon-prev:before {
  content: "navigate_before";
}

.image-viewer-component-icon-next:before {
  content: "navigate_next";
}

.image-viewer-component-icon-close:before {
  content: "close";
}

.image-viewer-component-icon-rotateLeft:before {
  content: "rotate_left";
}

.image-viewer-component-icon-rotateRight:before {
  content: "rotate_right";
}

.image-viewer-component-icon-reset:before {
  content: "autorenew";
}

.image-viewer-component-icon-scaleX:before {
  content: "swap_horiz";
}

.image-viewer-component-icon-scaleY:before {
  content: "swap_vert";
}

.image-viewer-component-icon-download:before {
  content: "download";
}

.circle-loading {
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: 10px solid rgba(255, 255, 255, 0.2);
  border-top-color: #fff;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
